*{
    -fx-base: rgb(191,219,173);
}
.button{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}


.returnButton{
    -fx-shape: "M 550 400 L 450 300 L 550 400 L 450 300 L 450 300 L 550 200 L 550 250 L 650 250 L 650 350 L 550 350 L 550 400 ";
    -fx-background-color: #E66152;

}
.returnButton:hover{
    -fx-background-color: rgb(255, 69, 0,0.65);
}

.startButton{
    -fx-background-color: #E66152;
    -fx-border-color: white;
    -fx-border-width: 2,2,2,2;
    -fx-background-insets: 0;

}
.startButton:hover{
    -fx-background-color: rgb(255, 69, 0,0.65);
}